html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white; 
    overflow: hidden;
}

.dashbord-header {
  height: 36px;
  padding: 4px;
  min-height: 0px;
  background-color: #4A8BC1;
  background-image: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

.dashbord-button {
    padding: 1px;
    width: 30px;
    height: 100%;
    border: black;
    box-shadow: none;
    background: transparent;
    margin-top: 0px;
    opacity: .95;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 0;
}

.dashbord-button > div {
    position: relative;
}

.dashbord-button .dashbord-button-notification {
    position: absolute;
    top: -7px;
    right: 0px;
    background-color: #f00;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 20px -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 10px;
    line-height: 10px;
}

.right {
  float: right;
  right : 0;
}

.left {
  float: left;
  left : 0;
}

.dashbord-sidebar {
  font-size: 20px;
  cursor: pointer
}

.dashbord-sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 35px;
    background-color: #1E2023;
    overflow-x: hidden;
}

.dashbord-sidenav > div {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: #333538;
    border-top: 1px solid #646464;
}

.dashbord-sidenav img {
    display: inline-block;
    width: 25px;
    height: inherit;
}

.dashbord-sidenav .dashbord-nav-name {
    height: auto;
    width: 150px;
    vertical-align: middle;
    margin-left: 8px;
    display: inline-block;
}

.dashbord-sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.dashbord-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .dashbord-sidenav {padding-top: 15px;}
  .dashbord-sidenav a {font-size: 18px;}
}