{
  parser: "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "impliedstrict" : true,
        "experimentalObjectRestSpread" : true,
        "modules": true 
    }
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "id-length": 0,
    "indent": [1, 4],
    "no-console": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": <ignorePureComponents> }],
    "strict": 0,
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "document": false
  },
  "settings": {
      "import/resolver": { "airbnb": {"extensions": [".js", ".jsx"]} },
    }
}