.btn {
    padding: 1px;
    width: 30px;
    height: 100%;
    border: black;
    box-shadow: none;
    background: transparent;
    margin-top: 0px;
    opacity: .95;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 0;
}